body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #12e80f;
}

.calculator {
    border: 5px solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    max-width: 800px;
    margin: auto;
}

.display {
    grid-column: span 4;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
}

.numbers{

}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:active {
    background-color: #f70d0d;
}
